# Creating DataFrames #

In [10]:
import pandas as pd

def pp(z):
    print('--------------------')
    print('\n', z)

items = {'Bob':pd.Series([10, 20, 50], index=['bike', 'pants', 'watch']), 'Mary':pd.Series([1, 2, 3, 4], index=['house', 'car', 'pen', 'pants'])}
pp(items)

pp(type(items))

--------------------

 {'Bob': bike     10
pants    20
watch    50
dtype: int64, 'Mary': house    1
car      2
pen      3
pants    4
dtype: int64}
--------------------

 <class 'dict'>

## Think of DataFrames like a spreadsheet ##

displays in tabular form, with rows and columns

rows are the union of the indexes from the panda Series in the dictionary (if no indexes, it will use numerical indexes)
columns are the keys of the dictionary (arranged alphabetically, unless loaded from a file)

In [11]:
shopping_carts = pd.DataFrame(items)
shopping_carts

        Bob  Mary
bike   10.0   NaN
car     NaN   2.0
house   NaN   1.0
pants  20.0   4.0
pen     NaN   3.0
watch  50.0   NaN

In [21]:
no_index = {'Bob':pd.Series([1, 2, 3, 4, 5, 6, 7]), 'Mary':pd.Series([10, 20, 30])}

pd.DataFrame(no_index)
pp(no_index)

df = pd.DataFrame(no_index)
pp(df)
df

--------------------

 {'Bob': 0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64, 'Mary': 0    10
1    20
2    30
dtype: int64}
--------------------

    Bob  Mary
0    1  10.0
1    2  20.0
2    3  30.0
3    4   NaN
4    5   NaN
5    6   NaN
6    7   NaN

   Bob  Mary
0    1  10.0
1    2  20.0
2    3  30.0
3    4   NaN
4    5   NaN
5    6   NaN
6    7   NaN

DataFrames will pretty print without the print statement

It will just join the two sets of values without indexes justifying from the beginning for each list of values

In [24]:
shopping_carts.columns

Index(['Bob', 'Mary'], dtype='object')

In [25]:
shopping_carts.index

Index(['bike', 'car', 'house', 'pants', 'pen', 'watch'], dtype='object')