In [132]:
import pandas as pd

def pp(data):
    print('\n', data)

### create a DataFrame from a List that contains a dictionary ###

At a minimum, DataFrames require column labels AND data - so dictionaries work well

Think of Dictionaries as providing columns, and panda Series creating indexes

DataFrames are created from:
1) a List of dictionaries (which creates columns)
2) a panda Series (which creates indexes)
3) a dictionary where the values are panda Series (which creates a 2D array with both columns and indexes, but needs a DataFrame for pp).


In essence, a DataFrame must be set up as a 2D array

To create a DataFrame, use:
* List of dictionaries if you want one value per row
* Dictionaries with panda Series values if you want multiple values per row

Steps
1) Create the columns (either as a List and add an index, or a dictionary with values as panda Series which includes an index)
2) Create the DataFrame (and add an index if needed)

In [140]:
vehicles = [{'gmc':50000, 'chevy':10000, 'ram':5000}]

stores = pd.DataFrame(vehicles)
stores

     gmc  chevy   ram
0  50000  10000  5000

### add another dictionary to the DataFrame ###

In [141]:
vehicles.append({'honda':40000, 'mazda':2000, 'toyota':3000})

stores = pd.DataFrame(vehicles)
stores.index = ['truck_store', 'car_store']
stores

                 gmc    chevy     ram    honda   mazda  toyota
truck_store  50000.0  10000.0  5000.0      NaN     NaN     NaN
car_store        NaN      NaN     NaN  40000.0  2000.0  3000.0

### !!!having a List of dictionary values doesn't create a series. Need to create a panda Series for that!!! ###

In [142]:
vehicles = [{'gmc':[10000, 30000, 50000], 'chevy':10000, 'ram':5000}, {'gmc':30000, 'honda':10000}]

stores = pd.DataFrame(vehicles)
pp(stores)

                      gmc    chevy     ram    honda
0  [10000, 30000, 50000]  10000.0  5000.0      NaN
1                  30000      NaN     NaN  10000.0

### create a DataFrame from a dictionary of panda Series values ###

In [147]:
# putting the series in a dictionary adds a column label
stores = {'truck store':pd.Series([100000, 150000, 20000], index=['gmc', 'chevy', 'ram']), 'car store':pd.Series([40000, 25000], index=['honda', 'mazda'])}

vehicles = pd.DataFrame(stores)
vehicles

       truck store  car store
chevy     150000.0        NaN
gmc       100000.0        NaN
honda          NaN    40000.0
mazda          NaN    25000.0
ram        20000.0        NaN

### create a DataFrame from a Series ###

In [149]:
# a Series defines the row labels (indexes), but no column labels
vehicles = pd.Series(data = [100000, 50000, 25000], index = ['gmc', 'chevy', 'ram'])

stores = pd.DataFrame(vehicles, columns = ['truck store'])
stores

       truck store
gmc         100000
chevy        50000
ram          25000